/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/* common styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  background: #f3f1ff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 870px;
  background: #ffffff;
  padding: 33px 30px 42px 30px;
  margin-top: 21px;
  border-radius: 5px;
}
.section-header {
  font-size: 24px;
  color: #562eff;
  margin-top: 0px;
  margin-bottom: 40px;
}
hr {
  border: 0.5px solid #d1d1d1;
  margin-bottom: 30px;
}
/* header styles  */
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  margin-bottom: 16px;
  font-weight: 400;
  background: #562eff;
  color: #ffffff;
}
nav .logo img {
  width: 40px;
  height: 50px;
}
nav .logo {
  display: flex;
  align-items: center;
}
.logo h2 {
  margin-left: 15px;
  font-weight: 400;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu .navigation ul {
  list-style: none;
  display: flex;
}
.navigation ul li {
  margin-right: 36px;
}
/* top developers style */
.top-developers {
  margin-bottom: 24px;
}
.developers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
}
.developer {
  display: flex;
  align-items: center;
}
.developer img {
  width: 56px;
  height: 56px;
}
.developer-name {
  font-size: 18px;
  margin-left: 16px;
}

/* Top blog styles  */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .blog-thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-details {
  margin-left: 16px;
}
.blog-title {
  margin: 0px;
  line-height: 35px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
  margin-top: 6px;
}
.blog-author a {
  text-decoration: none;
  color: #562eff;
}

/* courses styles  */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}
.courses-section .section-header {
  margin-bottom: 24px;
}
.course {
  width: 250px;
  display: grid;
  place-content: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding-top: 12px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.course-info .course-title {
  margin-bottom: 4px;
}
.course-instructor {
  margin: 4px 0 20px 0;
}
.course-info .course-instructor a {
  text-decoration: none;
  color: #ed6b4f;
  font-size: 14px;
}
.course-banner img {
  width: 224px;
  height: 104px;
}
.course-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course-ratings span {
  margin-left: 10px;
}
.fa-star {
  width: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-duration {
  display: grid;
  place-content: center;
  height: 28px;
  width: 90px;
  background: #ffe4e8;
  color: #ff4a60;
  border-radius: 20px;
}
.course-duration.orange {
  color: #ed6b4f;
  background: #fee5df;
}
